/app-routing.module.js
/app-routing.module.js.map
/app.component.js
/app.component.js.map
/app.module.js
/app.module.js.map
/dashboard.component.js
/dashboard.component.js.map
/hero-detail.component.js
/hero-detail.component.js.map
/hero.js
/hero.js.map
/hero.service.js
/hero.service.js.map
/heroes.component.js
/heroes.component.js.map
/mock-heroes.js
/mock-heroes.js.map
